{% load static %}
{% load plotly_dash%}
{% include 'components/head.html' %}

<body class="sb-nav-fixed">
    {% include 'components/nav.html' %}
    <div id="layoutSidenav">
        {% include 'components/sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                {% block content %}
                {% endblock content %}
            </main>
            {% include 'components/footer.html' %}
        </div>
    </div>
    {% include 'components/scripts.html' %}
</body>

</html>